extends layout

block append scripts 
   != js("pages/stream")
   != js("mapImage")

   script
      window.coords = !{JSON.stringify(coords)};

block body
   .location-header
      h1 
         a(href="/") goingon.at

      if place
         a(data-bind="click: function () { showMenu(!showMenu()); }")
            h2.menu #{place.name}
      else
         h2 Your location
      h1 goingon.at

   .place-info(data-bind="visible: showMenu")
      img(data-bind="attr: { src: window.mapImage.build(#{coords.lat}, #{coords.long}, { width: 300, height: 300, zoom: 15 }) }").map

      h1= place.name

      ul.things 
         if place.website
            li.website
               a(href=place.website)= place.website
         if place.address
            li.address= place.address
         if place.number
            li.number
               a(href="tel:#{place.number}")= place.number

      .clear

      .clear

   .place-info(data-bind="visible: showMenu")
      img(data-bind="attr: { src: window.mapImage.build(#{coords.lat}, #{coords.long}, { width: 300, height: 300, zoom: 15 }) }").map

      h1= place.name

      ul.things 
         if place.website
            li.website
               a(href=place.website)= place.website
         if place.address
            li.address= place.address
         if place.number
            li.number
               a(href="tel:#{place.number}")= place.number

      .clear

   ol(data-bind="foreach: strips").timeline
      li(data-bind="template: { name: type }")

   script(type="text/html", id="instagroto")
      a(data-bind="attr: { href: link }").instagroto
         .tooltip
            img(data-bind="attr: { src: window.mapImage.build(location.latitude, location.longitude, { width: 200, height: 200, zoom: 15 }) }").map

         .user
            img(data-bind="attr: { src: user.profile_picture }").profile
            h2(data-bind="text: (user.full_name != user.username) ? user.full_name + ' (' + user.username + ')' : user.username")

         img(data-bind="attr: { src: images.standard_resolution.url }").gram

         .caption(data-bind="with: caption")
            p(data-bind="text: text")

   script(type="text/html", id="tweet")
      a(data-bind="attr: { href: 'http://twitter.com/' + from_user + '/status/' + id_str }").tweet
         .tooltip(data-bind="with: geo")
            img(data-bind="attr: { src: window.mapImage.build(coordinates[0], coordinates[1], { width: 200, height: 200, zoom: 15 }) }").map

         .user
            img(data-bind="attr: { src: profile_image_url}")
            h2(data-bind="text: from_user_name + ' (' + from_user + ')'")

         p(data-bind="text: text")